#gallery{
  position: absolute;
  width: 100vw;
  min-height: calc(100vh - 200px);
  max-height: calc(100vh - 200px);
  will-change: transform, opacity;
  pointer-events: none;
}

#assetTray{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  will-change: transform;
  align-items: center;
  overflow:hidden;
}

#asset{
  will-change: opacity, transform;
  transform-origin: center center;
}

#galleryControls{
  position: fixed;
  width: 100vw;
  height: calc(100vh - 100px);
  z-index: 300;
  pointer-events: none;
  will-change: opacity;
  user-select: none;
  @include for-phone-only {
    visibility: hidden;
  }
}

.hideArrow{
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: visibility 300ms step-end, opacity 300ms linear;
}

.showControls{
  opacity: 1;
  visibility: visible;
  transition: visibility 300ms step-start, opacity 300ms linear;
  transition-delay: 200ms;
}

.hideControls{
  opacity: 0;
  visibility: hidden;
  transition: visibility 300ms step-end, opacity 300ms linear;
}

.showClose{
  opacity: 1;
  visibility: visible;
}

.hideClose{
  opacity: 0;
  visibility: hidden;
}

.arrowContainer{
  font-weight: 600;
  transform: translateY(calc(-50% - 50px));
  top: 50%;
  height: 50vh;
  width: 100px;
  position: absolute;
  z-index: 500;
  pointer-events: all;
  @include flex-center-all;
}

// .arrow{
//   width: 150px;
//   height: 150px;
//   background-size: contain;
//   background-repeat: no-repeat;
// }

.rightArrowContainer {
  right: 40px;
  cursor: pointer;
}

.forwardContainer {
  transform: translateX(40%) rotateZ(90deg);
  width: 109px;
  height: 18px;
  transform-origin: center center;
  text-align: center;
  transition: transform 300ms;
}

.backwardContainer{
  transform: translateX(-40%)rotateZ(-90deg);
  width: 109px;
  height: 18px;
  transform-origin: center center;
  text-align: center;
  transition: transform 300ms;
}

.leftArrowContainer {
  left: 40px;
  cursor: pointer;
}

.rightArrowContainer:hover .forwardContainer{
  transform: translateX(calc(40% - 8px)) rotateZ(90deg);
}

.leftArrowContainer:hover .backwardContainer{
  transform: translateX(calc(-40% + 8px)) rotateZ(-90deg);
}

#galleryInfo {
  width: auto;
  bottom: 35px;
  left: 40px;
  position: fixed;
  height: auto;
  z-index: 300;
  pointer-events:none;
  @include flex-center-column;
}

#filterInfo{
  width: auto;
  bottom: 35px;
  right: 40px;
  position: fixed;
  height: auto;
  z-index: 300;
  pointer-events:none;
  @include flex-center-column;
}

#galleryIndex {
  width: auto;
  bottom: 35px;
  right: 40px;
  position: fixed;
  height: auto;
  z-index: 300;
  pointer-events:none;
}

#galleryIndex div {
  display: inline-block;
  margin-left: 50px;
}

.gallery-clientContainer{
  @include flex-center-row;
  margin-top: 11px;
}

.showImage{
  opacity: 1;
  // visibility: visible;
  transition: visibility step-start 300ms, opacity 300ms;
}

.hideImage{
  opacity: 0;
  // visibility: hidden;
  transition: visibility step-end 300ms, opacity 300ms;
}

#assets{
  position: absolute;
}
