#mainHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: fixed;
  z-index: 400;
  top:0;
  left:0;
  padding: 0px 40px 0px 40px;
  height: 100px;
  overflow-y: visible;
  pointer-events:none;
  @include for-phone-only {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
  }
}

#aboutHeader{
  position: absolute;
  z-index: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 0px 40px 0px 40px;
  min-height: 100px;
  @include for-phone-only {
    position: relative;
    padding: 0px 30px 0px 30px;
  }
}

#feedNav{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

}

#backNav{
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  z-index: 200;
  pointer-events: all;
  cursor: pointer;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: $menu-translate-height;
  width: 100%;
}

.christelle{
  flex-shrink: 0;
}

.backLink{
  display: flex;
  align-items: center;
}

.backLink:hover .backArrow {
  opacity: 1;
  transform: translate3d(-15px, 0, 0);
}

.linkShim {
  height: 100%;
  @include flex-center-all;
}

.dropdownContainer{
  position: relative;
  width: 59px;
  @include for-phone-only {
    width: 38px;
  }
}

.dropdownWrapper{
  position: absolute;
}

#headerButton{
  background: transparent;
  outline: none;
  font-size: inherit;
  padding: 0;
  text-align: left;
  height: $menu-translate-height;
  pointer-events:all;
}

#filterButton{
  width: 147px;
  background: transparent;
  border: none;
  outline: none;
  font-size: inherit;
  padding: 0;
  height: $menu-translate-height;
  text-align: left;
  border-top: 1px solid black;
  position: absolute;
  top: -25px;
  pointer-events:all;
  @include for-phone-only {
    // horrible but accurate calc
    width: calc(100vw - 40px - 45px - 15px);
  }
}

.showMenuItem{
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.hideMenuItem {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.dropdownWrapper{
  .showMenuItem:first-child {
    transition: 200ms;
    transform: translate(0,calc(#{$menu-translate-height} - 25px));
  }
  .showMenuItem:nth-child(2) {
    transition: 300ms;
    transform: translate(0,calc((#{$menu-translate-height} * 2) - 25px));
  }
  .showMenuItem:nth-child(3) {
    transition: 400ms;
    transform: translate(0,calc((#{$menu-translate-height} * 3) - 25px));
  }

  .hideMenuItem:first-child {
    transition: 200ms;
    transform: translateY(0);
  }
  .hideMenuItem:nth-child(2) {
    transition: 300ms;
    transform: translateY(0);
  }
  .hideMenuItem:nth-child(3) {
    transition: 400ms;
    transform: translateY(0);
  }
}

.buttonText{
  transition: transform 200ms;
  will-change: transform;
}

.showMenuItem:hover .buttonText{
  transform: translateX(6px);
}

#rule{
  height: 1px;
  background-color: black;
  max-width: 80px;
  flex: 1;
  margin: 0px 15px 0px 15px;
  transition: opacity 250ms transform 200ms;
  @include for-phone-only {
    max-width:none;
  }
}

.nudgeRuleLeft{
  transform: translateX(-8px);
}

.nudgeRuleRight{
  transform: translateX(8px);
}

.hideRuleHover{
  opacity: 0;
  transition: 200ms;
  transform: translate(-8px, #{$menu-translate-height} - 25px);
}

.showRule{
  opacity: 1;
  transition: 200ms;
}

.hideRuleNoHover{
  opacity: 0;
  transition: 200ms;
  transform: translateY(#{$menu-translate-height} - 25px);
}

.aboutLinkSetWidth {
  width: 57px;
  margin-left: 10px;
  @include for-phone-only {
    width: 45px;
  }
}

.backArrowContainer{
  margin-right: 2em;
}

.showBackNav{
  opacity: 1;
  visibility: visible;
  transition: visibility 200ms step-start, opacity 200ms linear;
  transition-delay: 250ms;
}

.hideBackNav{
  opacity: 0;
  visibility: hidden;
  transition: visibility 200ms step-end, opacity 200ms linear;
}

.showFeedNav{
  opacity: 1;
  visibility: visible;
  transition: visibility 200ms step-start, opacity 200ms linear;
  transition-delay: 250ms;
}

.hideFeedNav{
  opacity: 0;
  visibility: hidden;
  transition: visibility 200ms step-end, opacity 200ms linear;
}
