header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: fixed;
  z-index: 500;
  top:0;
  left:0;
  padding: 0px 40px 0px 40px;
  height: 100px;
  overflow-y: visible;
  @include for-phone-only {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: $menu-translate-height;
  width: 100%;
  @include for-phone-only {
    margin-top: 15px;
  }
}

.christelle{
  flex-shrink: 0;
}

.backLink{
  display: flex;
  align-items: center;
}

.backLink:hover .backArrow {
  opacity: 1;
  transform: translate3d(-15px, 0, 0);
}

.linkShim {
  height: 100%;
  @include flex-center-all;
}

.dropdownContainer{
  position: relative;
  width: 59px;
  @include for-phone-only {
    width: 38px;
  }
}

.dropdownWrapper{
  position: absolute;
}

#headerFilterButton{
  background: transparent;
  border: none;
  outline: none;
  font-size: inherit;
  padding: 0;
  text-align: left;
  height: $menu-translate-height;
}

#filterButton{
  width: 155px;
  background: transparent;
  border: none;
  outline: none;
  font-size: inherit;
  padding: 0;
  height: $menu-translate-height;
  text-align: left;
  border-top: 1px solid black;
  position: absolute;
  top: -25px;
  @include for-phone-only {
    // horrible but accurate calc
    width: calc(100vw - 40px - 45px - 15px);
  }
}

.showMenuItem{
  opacity: 1;
  pointer-events: all;
}

.hideMenuItem {
  opacity: 0;
  pointer-events: none;
}

.dropdownWrapper{
  .showMenuItem:nth-child(1) {
    transition: 200ms;
    transform: translateY(#{$menu-translate-height} - 25px);
  }
  .hideMenuItem:nth-child(1) {
    transition: 200ms;
    transform: translateY(0);
  }
  .showMenuItem:nth-child(2) {
    transition: 400ms;
    transform: translateY(calc((#{$menu-translate-height} * 2) - 25px));
  }
  .hideMenuItem:nth-child(2) {
    transition: 200ms;
    transform: translateY(0);
  }
}


#rule{
  height: 1px;
  background-color: black;
  max-width: 80px;
  flex: 1;
  margin: 0px 15px 0px 15px;
  transition: opacity 250ms transition 200ms;
  @include for-phone-only {
    max-width:none;
  }
}

.showRule{
  opacity: 1;
  transition: 200ms;
}

.hideRule{
  opacity: 0;
  transition: 200ms;
  transform: translateY(#{$menu-translate-height} - 25px);
}

.aboutLinkSetWidth {
  width: 70px;
  @include for-phone-only {
    width: 45px;
  }
}

.backArrow{
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url('../assets/smallArrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 62px;
  height: 16px;
  opacity: 0;
  transition: 300ms;
}
