
.centerline{
  width: 1px;
  height: 200vh;
  background-color: blue;
  transform: translateX(50vw);
  position: fixed;
  z-index: 999;
}

.centerline2{
  height: 1px;
  width: 200vh;
  background-color: blue;
  transform: translateY(calc(50vh - 50px));
  position: fixed;
  z-index: 999;
}

///////
///////
///////

.home {
  overflow-x: hidden;
  min-height: 100vh;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

content {
  position: relative;
  display: block;
  margin-bottom: 100px;
  border: 1px solid red;
}



#gallery{
  position: absolute;
  will-change: opacity, transform;
  max-height: 45vw;
  max-width: 45vw;
  transform-origin: center center;
}

// display states
.gallery_display-off {
  opacity: 0;
  pointer-events: none;
}
.gallery_display-feed {
  opacity: 1;
  pointer-events: all;
  z-index: 150;
}
.gallery_display-gallery{
  opacity: 1;
  pointer-events: none;
  z-index: 150;
}

// hover states
.gallery_hover-forward{
  opacity: 1;
  transition: opacity $longTransition, transform 500ms;
  z-index: 120;
  cursor: pointer;
}
.gallery_hover-fade{
  opacity: 0.65;
  transition: opacity $longTransition, transform 500ms;
}
.gallery_hover-normal{
  opacity: 1;
  pointer-events: all;
  z-index: auto;
  transition: opacity $longTransition, transform 500ms;
}
.gallery_hover-noHover{
  transition: opacity 300ms, transform 500ms;
}


img {
  max-width: $imgWidth-desktop;
  max-height: $imgHeight-desktop;
  height: auto;
  width: auto;
  transform-origin: center center;
  transition: 500ms;
  @include for-phone-only{
    max-width: $imgWidth-mobile;
    max-height: $imgHeight-mobile;
  }
}


#loadingScreen{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 104;
  background-color: white;
  will-change: opacity;
  pointer-events: auto;
}

.loadingOn{
  opacity: 1;
  visibility: visible;
  transition: visibility 0.5s step-start, opacity 0.5s linear;
}

.loadingOff{
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s step-end, opacity 0.5s linear;
}

#overlay{
  width: 100vw;
  height: 100vh;
  margin-top: -100px;
  position: fixed;
  background-color: white;
  will-change: opacity;
}

#asset{
  position: absolute;
}

#galleryControls{
  position: fixed;
  width: 100vw;
  height: calc(100vh - 100px);
  border: 1px solid purple;
  z-index: 999;
  pointer-events: none;
}

.arrowContainer{
  // width: $imgSize / 2;
  // height: $imgSize / 2;
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  border: 1px solid red;
  @include flex-center-all;
}

.arrow{
  width: 150px;
  height: 150px;
  // background-color: blue;
}

.rightArrowContainer {
  right: 0;
  .arrow {

  }
}

.leftArrowContainer {
  left: 0;
  .arrow {

  }
}

.rightArrowContainer:hover{
  .arrow{
    transform: translateX(30px);
  }
}

.leftArrowContainer:hover{
  .arrow{
    transform: translateX(-30px);
  }
}

#galleryInfo {
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  height: 100px;
  border: 1px solid green;
  padding: $headerPadding;
}
