* {
  box-sizing: border-box;
}

html, body{
  margin:0;
  padding:0;
  width: 100vw;
  height: 100vh;
}

html, body, h1, h2, h3, h4, h5, h6 {
  outline: none;
  font-size: 24px;
  font-family: 'Nurom', sans-serif;
  font-weight: 400;
  @include for-phone-only {
    font-size: 16px;
  }
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

p {
  padding: 0;
  margin:0;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.34px;
  @include for-phone-only {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.2px;
  }
}

.bio p {
  margin-top: 32px;
}

.bio a {
  color: $christelle_white;
}

header a {
  color: $christelle_black;
}

.about-meta p{
  margin-bottom: 12px;
}


a, button {
  transition: 100ms;
  transform-origin: bottom;
  text-decoration: none;
  font-style: italic;
  border: none;
  // border-bottom: 1px solid transparent;
  // opacity: 1;
}

a:hover, button:hover{
  // border-bottom: 1px solid black;
  box-sizing:content-box;
  // opacity: 0.5;
  cursor: pointer;
}

main{
  padding-top: $header_height;
  width: 100%;
  z-index: 20;
}

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.white-text{
  color: $christelle_white;
}

.black-text{
  color: $christelle_black;
}

.stopScroll{
  overflow: hidden;
}

.midDash{
  width: 80px;
  max-width: 80px;
  height: 1px;
  background-color: $christelle_black;
  flex: 1;
  margin-right: 10px;
}

.smallDash{
  min-width: 40px;
  max-width: 40px;
  height: 1px;
  background-color: $christelle_white;
  margin-top: 10px;
  flex: 0;
  margin-right: 10px;
}
