@mixin for-phone-only {
  @media (max-width: 1200px) { @content; }
}


@mixin for-desktop-up {
  @media (min-width: 1201px) { @content; }
}

@mixin flex-center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flex-center-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin noSkew {
  -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
}

@mixin skew{
  -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-9deg, 0deg);
  -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-9deg, 0deg);
  -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-9deg, 0deg);
  -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-9deg, 0deg);
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-9deg, 0deg);
}
