@mixin for-phone-only {
  @media (max-width: 760px) { @content; }
}

@mixin for-desktop-up {
  @media (min-width: 1000px) { @content; }
}

@mixin flex-center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}
