@font-face {
  font-family: 'Univers Next';
  src: url('../assets/UniversNextPro-Regular.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Univers Next';
  src: url('../assets/UniversNextPro-MediumExt.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Univers Next';
  src: url('../assets/UniversNextPro-HeavyExt.otf') format('opentype');
  font-weight: 700;
}

$header_height: 100px;
// $christelle_blue: #325B35;
// $christelle_blue: #004014;
// $christelle_blue: #0b9216;
// $christelle_blue: #001f02;
$christelle_blue: #001601;



$christelle_black: #000000;
$christelle_white: #FFFFFF;
$menu-translate-height: 50px;
$nav-height: 32px;

//img max dims
$imgWidth-mobile: 80vw;
$imgHeight-mobile: 50vh;

$imgWidth-desktop: 35vw;
$imgHeight-desktop: 45vh;

$longTransition: 800ms;
$fadeTransition: 400ms;
$headerPadding: 36px 60px 26px 60px;

$arrowTransition: 350ms;
