$header_height: 100px;
$christelle_blue: #1A1266;
$christelle_black: #000000;
$christelle_white: #FFFFFF;
$menu-translate-height: 50px;
$nav-height: 32px;

//img max dims
$imgWidth-mobile: 80vw;
$imgHeight-mobile: 50vh;

$imgWidth-desktop: 50vw;
$imgHeight-desktop: 70vh;

$longTransition: 800ms;
$fadeTransition: 400ms;
$headerPadding: 36px 60px 26px 60px;

$arrowTransition: 350ms;
