$header_height: 100px;
$christelle_blue: #1A1266;
$christelle_black: #000000;
$christelle_white: #FFFFFF;
$menu-translate-height: 40px;
$nav-height: 32px;

$imgSize: 45vw;
$longTransition: 1500ms;
$headerPadding: 36px 60px 26px 60px;
