.about {
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden; }

.bio {
  flex-grow: .66;
  overflow-y: scroll;
  min-height: 200vh; }

.contact {
  flex-grow: .33;
  margin-left: 60px;
  overflow-y: scroll; }
