@font-face {
  font-family: 'Nurom';
  src: url('../assets/NuromReg.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nurom';
  src: url('../assets/NuromItal.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@import '_variables';
@import '_mixins';
@import '_main';
@import '_header';

//Views
@import '_about';
@import '_home';

//Components
